# Node modules
node_modules/
ArchitectureDesign.jpg
BackendEndToEndFlow.jpg
FileStructure.jpg
Logo.png 

# Environment variables
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/